body {
  font-family: arial;
}

.appContainer {
  background: #363636;
  width: 100svw;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: unset;
}

.menuBar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  background: #525252;
  overflow: auto;
  transition: 0.2s;
}

.menuBarItemLogo {
  all: unset;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0 10px;
}

.menuBarItemLogoImg {
  height: 30px;
}

.menuBarItem {
  all: unset;
  color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  padding: 0 8px;
  font-weight: bold;
}

.menuBarItem:hover {
  background: #363636;
  cursor: pointer;
}

.leftPanel {
  width: calc(100svw - 640px);
  height: calc(100svh - 50px);
  position: fixed;
  top: 50px;
  left: 0px;
  display: flex;
  flex-direction: column;
}

.rightPanel {
  width: 640px;
  height: calc(100svh - 50px);
  position: fixed;
  top: 50px;
  right: 0px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.projectControls {
  width: 100%;
  height: 200px;
}

.projectCanvas {
  width: 640px;
  height: 360px;
  background: #ffffff;
  border-radius: 4px;
}

.tabArea {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.tabIcon {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 5px;
}

.tabButton {
  all: unset;
  color: #c7c7c7;
  width: fit-content;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  padding: 0 8px;
  font-weight: bold;
  flex-grow: 0;
  transform: translateY(5px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabButton:hover {
  background: #8f8f8f;
  cursor: pointer;
  color: #ffffff;
  transform: translateY(4px);
}

.tabButton[selected] {
  background: #8f8f8f;
  cursor: unset;
  color: #ffffff;
  transform: translateY(0px);
}

.tabWindow {
  background: #8f8f8f;
  flex-grow: 1;
  width: 100%;
  color: #000000;
  display: block;
  overflow: auto;
}
