:root {
  --game-viewport-width: 640px;
  --game-viewport-height: 360px;
  --game-viewport-scale: 1;
}

body {
  font-family: arial;
}

.appContainer {
  background: #363636;
  width: 100%;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.blocklyDiv {
  width: 100%;
  height: 100%;
}

.menuBar {
  display: flex;
  width: 100%;
  min-height: 50px;
  background: #525252;
  overflow: auto;
  transition: 0.2s;
}

.menuBarItemLogo {
  all: unset;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0 10px;
}

.menuBarItemLogoImg {
  height: 30px;
}

.menuBarItem {
  all: unset;
  color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  padding: 0 8px;
  font-weight: bold;
}

.menuBarItem:hover {
  background: #363636;
  cursor: pointer;
}

.panelContainer {
  display: flex;
  flex-direction: row;
  width: 100svw;
  height: calc(100svh - 50px);
  position: absolute;
  top: 50px;
  left: 0px;
  min-height: 500px;
  min-width: 1180px;
}

.leftPanel {
  height: calc(100svh - 50px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.rightPanel {
  width: fit-content;
  height: calc(100svh - 50px);
  overflow: auto;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
}

.rightPanelContent {
  width:  fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 700px;
  box-sizing: border-box;
}

.projectControls {
  width: 100%;
  height: 200px;
}

.projectCanvas {
  background: #ffffff;
  border-radius: 4px;
  flex-shrink: 0;
  flex-grow: 0;
  width: calc(var(--game-viewport-width) * var(--game-viewport-scale));
  height: calc(var(--game-viewport-height) * var(--game-viewport-scale));
}

.tabArea {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.tabIcon {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 5px;
}

.tabButton {
  all: unset;
  color: #c7c7c7;
  width: fit-content;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  padding: 0 8px;
  font-weight: bold;
  flex-grow: 0;
  transform: translateY(5px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabButton:hover {
  background: #8f8f8f;
  cursor: pointer;
  color: #ffffff;
  transform: translateY(4px);
}

.tabButton[selected] {
  background: #8f8f8f;
  cursor: unset;
  color: #ffffff;
  transform: translateY(0px);
}

.tabWindow {
  background: #8f8f8f;
  flex-grow: 1;
  width: 100%;
  color: #000000;
  display: block;
  overflow: auto;
}

.selectedSpriteContainer {
  width: 100%;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  min-height: 30px;
  height: fit-content;
  display: flex;
  padding: 4px 4px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-wrap: wrap;
}

.spritesContainer {
  width: 100%;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.spriteContainer {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  padding: 7px 7px;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  align-items: center;
}

.spriteContainer[selected] {
  background: #525252;
}

.selectedSpriteLabel {
  color: white;
  font-weight: bold;
}
.selectedSpriteInput {
  all: unset;
  padding: 3px 3px;
  box-sizing: border-box;
  width: fit-content;
  color: white;
  width: 100px;
  border-radius: 2px;
  background: #595959;
}

.costumesContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.costumesHeaderContainer {
  width: 100%;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content;
  box-sizing: border-box;
  padding: 5px 5px;
}

.costumesSelectorContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.costumeContainer {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  padding: 7px 7px;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  align-items: center;
}

.greyButtonStyle {
  all: unset;
  background: #6e6e6e;
  color: white;
  border-radius: 10px;
  padding: 7px 7px;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  font-weight: bold;
}

.greyButtonStyle:hover {
  background: #b8b8b8;
  cursor: pointer;
}

.selectedCostumeInput {
  all: unset;
  padding: 3px 3px;
  box-sizing: border-box;
  width: fit-content;
  color: white;
}

.scratchCategoryMenuItemLabel {
  color: white;
}

.projectControls {
  background: #8f8f8f;
  border-radius: 5px;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content;
  display: flex;
}

.projectButton {
  padding: 5px;
  font-size: 20px;
  user-select: none;
  margin-right: 2px;
}

.projectButtonImg {
  height: 16px;
  width: 16px;
  object-fit: contain;
}

.projectButton:hover {
  cursor: pointer;
  color: white;
}

.spriteInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #8f8f8f;
  margin: 3px;
}


[hidden] {
  display: none;
}