:root {
  --game-viewport-width: 640px;
  --game-viewport-height: 360px;
  --game-viewport-scale: 1;

  /*windowDialogContainer*/
  --popup-dialog-font: "arial";
  /*windowDialogBox*/
  --popup-dialog-background: hsl(0deg, 0%, 100%);
  --popup-dialog-border-radius: 10px;
  --popup-dialog-text-color: hsl(0deg, 0%, 0%);
  /*windowDialogButton*/
  --popup-dialog-button-background: hsl(224, 100%, 67%);
  --popup-dialog-button-hover-background: hsl(224, 100%, 63%);
  --popup-dialog-button-text-color: hsl(0deg, 0%, 100%);
  --popup-dialog-button-radius: 5px;
  /*windowDialogInput*/
  --popup-dialog-input-background: hsl(0deg, 0%, 100%);
  --popup-dialog-input-border-width: 1.5px;
  --popup-dialog-input-border-color: hsl(0deg, 0%, 73%);
  --popup-dialog-input-text-color: hsl(0deg, 0%, 0%);
  /*windowDialogHeader*/
  --popup-dialog-message-size: 16px;
}

.windowDialogContainer {
  font-family: var(--popup-dialog-font);
}
.windowDialogBackground {
  background: hsl(0deg, 0%, 0%);
  z-index: 999999999999;
}
.windowDialogBox {
  background: var(--popup-dialog-background);
  border-radius: var(--popup-dialog-border-radius);
  color: var(--popup-dialog-text-color);
  z-index: 999999999999;
}
.windowDialogButton {
  background: var(--popup-dialog-button-background);
  color: var(--popup-dialog-button-text-color);
  border-radius: var(--popup-dialog-button-radius);
}
.windowDialogButton:hover {
  background: var(--popup-dialog-button-hover-background);
}
.windowDialogInput {
  background: var(--popup-dialog-input-background);
  border-style: solid;
  border-width: var(--popup-dialog-input-border-width);
  border-color: var(--popup-dialog-input-border-color);
  color: var(--popup-dialog-input-text-color);
  outline: none;
}
.windowDialogHeader {
  font-weight: bold;
  font-size: var(--popup-dialog-message-size);
}

body {
  font-family: arial;
}

.appContainer {
  background: #363636;
  width: 100%;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.blocklyDiv {
  width: 100%;
  height: 100%;
}

.menuBar {
  display: flex;
  width: 100%;
  min-height: 50px;
  background: #525252;
  overflow: auto;
  transition: 0.2s;
}

.menuBarItemLogo {
  all: unset;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0 10px;
}

.menuBarItemLogoImg {
  height: 30px;
}

.menuBarItem {
  all: unset;
  color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  padding: 0 8px;
  font-weight: bold;
}

.menuBarItem:hover {
  background: #363636;
  cursor: pointer;
}

.panelContainer {
  display: flex;
  flex-direction: row;
  width: 100svw;
  height: calc(100svh - 50px);
  position: absolute;
  top: 50px;
  left: 0px;
  min-height: 500px;
}

.leftPanel {
  height: calc(100svh - 50px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

.rightPanel {
  width: fit-content;
  height: calc(100svh - 50px);
  overflow: auto;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
}

.rightPanelContent {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 700px;
  box-sizing: border-box;
  position: relative;
}

.projectControls {
  width: 100%;
  height: 200px;
}

.projectCanvas {
  background: #ffffff;
  border-radius: 4px;
  flex-shrink: 0;
  flex-grow: 0;
  width: calc(var(--game-viewport-width) * var(--game-viewport-scale));
  height: calc(var(--game-viewport-height) * var(--game-viewport-scale));
}

.tabArea {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.tabIcon {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 5px;
}

.tabButton {
  all: unset;
  color: #c7c7c7;
  width: fit-content;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  padding: 0 8px;
  font-weight: bold;
  flex-grow: 0;
  transform: translateY(5px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabButton:hover {
  background: #8f8f8f;
  cursor: pointer;
  color: #ffffff;
  transform: translateY(4px);
}

.tabButton[selected] {
  background: #8f8f8f;
  cursor: unset;
  color: #ffffff;
  transform: translateY(0px);
}

.tabWindow {
  background: #8f8f8f;
  flex-grow: 1;
  width: 100%;
  color: #000000;
  display: block;
}

.selectedSpriteContainer {
  min-width: 100%;
  max-width: calc(var(--game-viewport-scale) * var(--game-viewport-width));
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  min-height: 30px;
  height: fit-content;
  display: flex;
  padding: 4px 4px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-wrap: wrap;
  overflow: auto;
}

.spritesContainer {
  width: 100%;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.spriteContainer {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  padding: 7px 7px;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  align-items: center;
}

.spriteTextContainer {
  width: 200px;
  text-wrap: wrap;
  line-break: anywhere;
}

.spriteContainer[selected] {
  background: #525252;
}

.selectedSpriteLabel {
  color: white;
  font-weight: bold;
}
.selectedSpriteInput {
  all: unset;
  padding: 3px 3px;
  box-sizing: border-box;
  width: fit-content;
  color: white;
  width: 100px;
  border-radius: 2px;
  background: #595959;
}

.costumesContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.costumePivotContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  color: white;
}

.costumesInPivotContainer {
  width: fit-content;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pivotCostumeButton {
  min-width: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 4px 4px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  margin: 2px;
  user-select: none;
  font-weight: bold;
}

.pivotCostumeButton:hover {
  border-color: rgb(121, 121, 121);
  cursor: pointer;
}
.pivotCostumeButton[selected] {
  border-color: #ffffff;
  cursor: unset;
}

.pivotEditor {
  flex-grow: 1;
  background: #212121;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;  /* <-- 1. ALLOWS this element to shrink */
  min-width: 0;      /* <-- 2. THE KEY: Allows it to shrink smaller than its content */
  overflow: hidden;    /* <-- 3. Prevents children from spilling out */
  position: relative;
}

.pivotEditorMenuBar {
  flex-grow: 0;
  flex-shrink: 0;
  height: 64px;
  width: 100%;
  display: flex;      /* <-- Puts all items in one horizontal row */
  overflow-x: auto;   /* <-- Adds horizontal scroll */
  overflow-y: hidden; /* <-- Prevents vertical scroll */
  align-items: center;
}

.pivotEditorMenuBar > * {
  flex-shrink: 0;
}

.pivotEditorContainer {
  flex-grow: 1;
  position: relative;
  overflow: auto;
}

.pivotEditorImageContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  height: fit-content;
  display: block;
  background-image: url(editor/transparent.png);
  background-size: 32px;
  image-rendering: pixelated;
}

.pivotEditorMenuInput {
  all: unset;
  color: #ffffff;
  font-weight: bold;
  height: 100%;
  box-sizing: border-box;
}

.pivotEditorDot {
  background: #000000;
  border-style: solid;
  border-color: #ffffff;
  box-sizing: border-box;
  border-width: 2px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.costumesHeaderContainer {
  width: 100%;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content;
  box-sizing: border-box;
  padding: 5px 5px;
}

.costumesSelectorContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.costumeContainer {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  padding: 7px 7px;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  align-items: center;
}

.greyButtonStyle {
  all: unset;
  background: #6e6e6e;
  color: white;
  border-radius: 10px;
  padding: 7px 7px;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  font-weight: bold;
}

.greyButtonStyle:hover {
  background: #b8b8b8;
  cursor: pointer;
}

.selectedCostumeInput {
  all: unset;
  padding: 3px 3px;
  box-sizing: border-box;
  width: fit-content;
  color: white;
}

.scratchCategoryMenuItemLabel {
  color: white;
}

.projectControls {
  background: #8f8f8f;
  border-radius: 5px;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content;
  display: flex;
}

.projectButton {
  padding: 5px;
  font-size: 20px;
  user-select: none;
  margin-right: 2px;
}

.projectButtonImg {
  height: 16px;
  width: 16px;
  object-fit: contain;
}

.projectButton:hover {
  cursor: pointer;
  color: white;
}

.spriteInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #8f8f8f;
  margin: 3px;
}

.projectMouseCoordinates {
  color: white;
  font-size: 10px;
  font-weight: bold;
}

.addSpriteButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

[hidden] {
  display: none;
}
