body {
  font-family: arial;
}

.appContainer {
  background: #363636;
  width: 100svw;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: unset;
}

.blocklyDiv {
  width: 100%;
  height: 100%;
}

.menuBar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  background: #525252;
  overflow: auto;
  transition: 0.2s;
}

.menuBarItemLogo {
  all: unset;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0 10px;
}

.menuBarItemLogoImg {
  height: 30px;
}

.menuBarItem {
  all: unset;
  color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  padding: 0 8px;
  font-weight: bold;
}

.menuBarItem:hover {
  background: #363636;
  cursor: pointer;
}

.leftPanel {
  width: calc(100svw - 640px);
  height: calc(100svh - 50px);
  position: fixed;
  top: 50px;
  left: 0px;
  display: flex;
  flex-direction: column;
}

.rightPanel {
  width: 640px;
  height: calc(100svh - 50px);
  position: fixed;
  top: 50px;
  right: 0px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.projectControls {
  width: 100%;
  height: 200px;
}

.projectCanvas {
  background: #ffffff;
  border-radius: 4px;
  flex-shrink: 0;
  flex-grow: 0;
}

.tabArea {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.tabIcon {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 5px;
}

.tabButton {
  all: unset;
  color: #c7c7c7;
  width: fit-content;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  padding: 0 8px;
  font-weight: bold;
  flex-grow: 0;
  transform: translateY(5px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabButton:hover {
  background: #8f8f8f;
  cursor: pointer;
  color: #ffffff;
  transform: translateY(4px);
}

.tabButton[selected] {
  background: #8f8f8f;
  cursor: unset;
  color: #ffffff;
  transform: translateY(0px);
}

.tabWindow {
  background: #8f8f8f;
  flex-grow: 1;
  width: 100%;
  color: #000000;
  display: block;
  overflow: auto;
}

.selectedSpriteContainer {
  width: 100%;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  min-height: 30px;
  height: fit-content;
  display: block;
  padding: 4px 4px;
  flex-shrink: 0;
  flex-grow: 0;
}

.spritesContainer {
  width: 100%;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.spriteContainer {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  padding: 7px 7px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
}

.spriteContainer:hover {
  cursor: pointer;
  background: #525252;
  text-decoration: underline;
}

.spriteContainer[selected] {
  cursor: unset;
  background: #525252;
  text-decoration: unset;
}

.selectedSpriteLabel {
  color: white;
  font-weight: bold;
}
.selectedSpriteInput {
  all: unset;
  padding: 3px 3px;
  box-sizing: border-box;
  width: fit-content;
  color: white;
  width: 100px;
}

[hidden] {
  display: none;
}

.costumesContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.costumesHeaderContainer {
  width: 100%;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content;
  box-sizing: border-box;
  padding: 5px 5px;
}

.costumesSelectorContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.costumeContainer {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  padding: 7px 7px;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  align-items: center;
}

.greyButtonStyle {
  all: unset;
  background: #6e6e6e;
  color: white;
  border-radius: 10px;
  padding: 7px 7px;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  font-weight: bold;
}

.greyButtonStyle:hover {
  background: #b8b8b8;
  cursor: pointer;
}
