<!doctype html>
<html>
  <head>
    <link rel="icon" href="favicon.png" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!--No script error in case JavaScript is disabled-->
    <noscript>
      Please enable JavaScript to use <%= htmlWebpackPlugin.options.title %>.
    </noscript>

    <script src="scratch-blocks/blockly_compressed_vertical.js"></script>
    <script src="scratch-blocks/blocks_compressed_vertical.js"></script>
    <script src="scratch-blocks/blocks_compressed.js"></script>
    <script src="scratch-blocks/messages.js"></script>
    <script src="scratch-blocks/scratch_msgs.js"></script>
  </body>
</html>
